# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
.Python
env/
venv/
.venv/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# Node
node_modules/
dist/

# Environment files
.env
.env.*
.env.local

# OS
.DS_Store
Thumbs.db

# Editor
*.swp
*.swo

# Build
build/
*.egg-info/

# Pytest
.pytest_cache/

# Mac
.DS_Store

# Context
PROJECT_CONTEXT.md
