.venv/
venv/
env/
*.sqlite3
*.db
**/*.pyc
__pycache__/
**/__pycache__/
*.pyo
.env
.env.*
.pytest_cache/
*.log
.git
**/.git
Dockerfile
docker-compose.yml
pytest.ini
api/tests/
api/conftest.py
api/factories.py
README.md
